<div class="main">
  <div class="container">
    みんなの投稿
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
          <img src="/blank-profile-picture-973460_960_720.png">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to("#{post.user.id} #{post.location}", post) %>
          </div>
          <%= link_to(post.content, "/posts/#{post.id}") %>
        </div>
<!--        投稿に返信することでルームが作られる-->
        <%if post.id == current_user.id%>        
          <%= button_to "Customer Information", edit_post_path(post), method: :get, class: "postButton" %>
        <% else%>
          <%= button_to "チャットする", "rooms/#{post.user_id}/#{current_user.id}/#{post.id}/create", method: :post, class: "postButton" %>
          <%= link_to("rooms/#{post.user_id}/#{current_user.id}/#{post.id}/create", {method:"post"}) do %>
        <% end %>
      <%end %>
      </div>
    <% end %>
    <%= link_to 'Post New Item', new_post_path %>
  </div>
</div>